config reference: bugtraq   http://www.securityfocus.com/bid/
config reference: cve       http://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference: nessus    http://cgi.nessus.org/plugins/dump.php3?id=
config reference: arachNIDS http://www.whitehats.com/info/IDS
config reference: mcafee    http://vil.nai.com/vil/content/v_
config reference: url       http://
config reference: et        http://www.emergingthreats.net/cgi-bin/cvsweb.cgi/sigs/
config reference: etpro     http://www.emergingthreatspro.com/cgi-bin/cvsweb.cgi/sigs/
config reference: md5       http://www.threatexpert.com/report.aspx?md5=
